<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <% include ./public/header.html %>
    <div class="subnav">
      <ul class="subnav_item">
        <li class="subnav_list"><a class="subnav_link" href="/">首页</a></li>
        <li class="subnav_list"><a class="subnav_link" href="/singerList?index=0">歌手</a></li>
        <li class="subnav_list"><a class="subnav_link subnav_link--current" href="/chart?alt=0">排行榜</a></li>
      </ul>
    </div>
    <div class="main">
      <div class="charts">
        <div class="chart_left">
          <h2 class="chart_left_title">音乐台巅峰榜</h2>
          <a href="http://localhost:3000/chart?alt=0" class="chart_list">音乐台巅峰榜·总榜</a>
          <a href="http://localhost:3000/chart?alt=1" class="chart_list">音乐台巅峰榜·内地</a>
          <a href="http://localhost:3000/chart?alt=2" class="chart_list">音乐台巅峰榜·港台</a>
          <a href="http://localhost:3000/chart?alt=3" class="chart_list">音乐台巅峰榜·日韩</a>
          <a href="http://localhost:3000/chart?alt=4" class="chart_list">音乐台巅峰榜·欧美</a>
        </div>
        <div class="chart_right">
          <h2 class="chart_right_title">音乐台巅峰榜</h2>
          <div class="list_title">
            <span class="song_num"></span>
            <span class="song_songName">歌曲</span>
            <span class="song_singerName">歌手</span>
            <span class="song_ablum">专辑</span>
            <span class="song_time">时长</span>
            <span class="dabang">打榜</span>
          </div>
          <ul class="song_list">
            <% for (var i = 0; i < song.length; i++) { %>
              <li class="song_item">
                <span class="song_num"><%= i+1 %></span>
                <span class="song_songName">
                  <a href="javascript:;" class="music_name"><%= song[i].musicName %></a>
                  <span class="song_icon">
                    <a href="javascript:;" class="play js_play" title="播放"></a>
                    <a href="javascript:;" class="append js_append" title="添加至我喜欢"></a>
                    <a href="" download="<%= song[i].musicName %> - <%= song[i].singerName %>.mp3" class="download js_download" title="下载"></a>
                  </span>
                </span>
                <span class="song_singerName">
                  <a href="http://localhost:3000/singerList/singer?singerName=<%= song[i].singerName %>"><%= song[i].singerName %></a>
                </span>
                <span class="song_ablum">
                  <a href="#" class="singer_link_cdName" title="<%= song[i].cdName %>"><%= song[i].cdName %></a>
                </span>
                <span class="song_time"><%= song[i].time %></span>
                <span class="dabang js_dabang">为他打call</span>
              </li>
            <% } %>
          </ul>
          <div class="success"></div>
        </div>
      </div>
    </div>
    <% include ./public/footer.html %>
    <script src="javascripts/jquery.js" type="text/javascript"></script>
    <script src="javascripts/main.js"></script>
  </body>
</html>
