<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <% include ./public/header.html %>
    <div class="subnav">
      <ul class="subnav_item">
        <li class="subnav_list"><a class="subnav_link" href="/">首页</a></li>
        <li class="subnav_list"><a class="subnav_link" href="/singerList?index=0">歌手</a></li>
        <li class="subnav_list"><a class="subnav_link" href="/chart?alt=0">排行榜</a></li>
      </ul>
    </div>
    <div class="main">
      <div class="comment">
        <div class="singer_info">
          <div>
            <a href="">
              <img class="ablum_img" src="<%= song.cdImg %>" alt="<%= song.cdName %>">
            </a>
          </div>
          <div class="ablum_info">
            <p class="comment_musicName"><%= song.musicName %></p>
            <p class="comment_singerName"><%= song.singerName %></p>
            <p class="comment_cdName">专辑：<%= song.cdName %></p>
            <p class="comment_publicDate">发行时间：<%= song.publicDate %></p>
            <div class="comment_btn_play">
              <span class="comment_play js_play_comment">播放</span>
              <span class="comment_append js_append_comment">添加</span>
              <span><a href="" class="js_download_comment" download="<%= song.musicName%> - <%= song.singerName%>.mp3" title="下载">下载</a></span>
            </div>
          </div>
          <div class="success"></div>
        </div>
        <div class="comment_area">
          <div class="add_comment">
            <span class="comment_title">添加评论</span>
            <textarea name="name" rows="9" cols="122" class="comment_content"></textarea>
            <button type="button" name="button" class="js_comment comment_btn">发表</button>
          </div>
          <h2 class="comment_new">最新评论</h2>
          <div class="comment_user">
            <% for (var i = 0; i < comment.length; i++) { %>
              <div class="comment_item">
                <div class="comment_item_left userImg_comment">
                  <img src="<%= comment[i].imgUrl %>" alt="">
                </div>
                <div class="comment_item_right">
                  <span class="comment_list userName"><%= comment[i].name %></span>
                  <p class="comment_list list_content"><%= comment[i].comment %></p>
                  <span class="comment_list time"><%= comment[i].time %></span>
                </div>
              </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <% include ./public/footer.html %>

    <script src="/javascripts/jquery.js" type="text/javascript"></script>
    <script src="/javascripts/main.js"></script>
    <script type="text/javascript">
    </script>
  </body>

</html>
