<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <% include ./public/header.html %>
    <div class="main">
      <div class="login">
        <p>
          <label>账号</label>
          <input type="text" name="name" class="login_name" placeholder="请输入用户名">
        </p>
        <p>
          <label>密码</label>
          <input type="password" name="password" class="login_pass" placeholder="请输入密码">
        </p>
        <p>
          <a href="/forget" class="forget_pass">忘记密码？</a>
          <a href="/register" class="forget_register">注册</a>
        </p>
        <p>
          <span class="login_tip"></span>
        </p>
        <p>
          <button type="button" class="js_login loginBtn">登录</button>
        </p>
      </div>
    </div>
    <% include ./public/footer.html %>
    <script src="/javascripts/jquery.js" type="text/javascript"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
