<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <% include ./public/header.html %>
    <div class="main">
      <div class="user_info">
        <a href="">
          <img src="./images/person_300.png" alt="" width="160px" height="160px">
        </a>
        <div class="user_list">
          <a href="/personal" class="user_link user_link--current">全部歌曲</a>
          <a href="/personal?alt=1" class="user_link">我喜欢</a>
          <a href="/personal?alt=2" class="user_link">播放列表</a>
          <a href="/personal?alt=3" class="user_link">下载列表</a>
        </div>
      </div>
      <div class="content">
        <div class="music_list">
          <div class="list_title">
            <span class="song_songName">歌曲</span>
            <span class="song_singerName">歌手</span>
            <span class="song_ablum">专辑</span>
            <span class="song_time">时长</span>
          </div>
          <ul class="song_list">
            <% for (var i = 0; i < song.length; i++) { %>
              <li class="song_item">
                <span class="song_songName">
                  <a href="javascript:;" class="music_name"><%= song[i].musicName %></a>
                  <span class="song_icon">
                    <a href="javascript:;" class="play" title="播放"></a>
                    <a href="javascript:;" class="attent" title="添加"></a>
                    <a href="" download="<%= song[i].musicName %> - <%= song[i].singerName %>.mp3" class="download" title="下载"></a>
                  </span>
                </span>
                <span class="song_singerName">
                  <a href="http://localhost:3000/singerList/singer?singerName=<%= song[i].singerName %>"><%= song[i].singerName %></a>
                </span>
                <span class="song_ablum"><a href="#" class="singer_link_cdName"><%= song[i].cdName %></a></span>
                <span class="song_time"><%= song[i].time %></span>
              </li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
    <% include ./public/footer.html %>
    <script src="javascripts/jquery.js" type="text/javascript"></script>
    <script src="javascripts/main.js"></script>
    <script type="text/javascript">
      var keyword = location.href;
      var list = $('.user_link');

      for (var i = 0; i < list.length; i++) {
        if (keyword == list[i].href) {
          $('.user_link').removeClass('user_link--current');
          $(list[i]).addClass('user_link--current');
        }
      }
    </script>
  </body>
</html>
