<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/common.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="player">
        <div class="player_box">
          <div class="box_left">
            <div class="player_singer">
              <a href="singer?singerName=<%= music.singerName %>">
                <img src="../<%= music.imgUrl%>" class="box_left_img">
              </a>
            </div>
            <div class="singer_info">
              <li class="singer_info_item">歌 手：<a href="/singer?singerName=<%= music.singerName %>" class="singer_info_link"><%= music.singerName %></a></li>
              <li class="singer_info_item">专 辑：<a href="" class="singer_info_link"><%= music.cdName %></a></li>
              <li class="singer_info_item">发行时间：<%= music.publicDate %></li>
              <li class="singer_info_item">点击量：<%= music.clicks %></li>
            </div>
          </div>
          <div class="box_right">
            <div class="musicName"><%= music.musicName %></div>
            <div id="lyric" class="lyric">
              <%= music.lyric %>
            </div>
          </div>
        </div>
        <div class="box_bottom">
          <audio class="audioDom" id="audioDom" src="<%= music.musicUrl %>" autoPlay></audio>
          <div class="bottom_left">
            <span class="prev js_prev"></span>
            <span class="play_btn js_play"></span>
            <span class="next js_next"></span>
          </div>
          <div class="bottom_middle">
            <div class="bottom_middle_top">
              <span class="songName"><%= music.musicName%>-<%= music.singerName%></span>
              <span class="duration_time">00:00</span>
              <span class="times">/ <%= music.time%></span>
            </div>
            <div class="bottom_middle_bottom">
              <span class="process"></span>
              <span class="process_btn"></span>
              <span class="duration_process"></span>
            </div>
          </div>
          <div class="bottom_right">
            <li><a href="" class="bottom_right_volice">音量</a></li>
            <li><a href="" class="bottom_right_download" download="/src/<%= music.musicName%> - <%= music.singerName%>.mp3" title="下载"></a></li>
            <li><span class="bottom_right_attention" title="添加"></span></li>
            <li><span class="bottom_right_comment" title="评论"></span></li>
          </div>
        </div>
      </div>

    <script src="/javascripts/jquery.js" type="text/javascript"></script>
    <script src="/javascripts/MusicPlayer.js"></script>
    <script src="/javascripts/main.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
      var isFirst = false;
      var audioDom = document.getElementById('audioDom');

      audioDom.ontimeupdate = function () {
        var width = audioDom.currentTime/audioDom.duration*$('.process').width();
        var second = Math.floor(audioDom.currentTime/60);
        var minute = Math.floor(audioDom.currentTime%60);

        second = second<10?'0'+second:second;
        minute = minute<10?'0'+minute:minute;

        $('.process_btn').css('left', width);
        $('.duration_process').css('width', width);
        $('.duration_time').html(second+':'+minute);

      };

      localStorage.setItem('src', audioDom.src);

      $(function () {
        MusicPlayer.init($('.player'));
      });
    });
    </script>
  </body>
</html>
