<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/common.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="player">
        <div class="player_box">
          <div class="box_left">
            <div class="player_singer">
              <a href="singer?singerName=<%= music.singerName %>">
                <img src="../<%= music.imgUrl%>" class="box_left_img">
              </a>
            </div>
            <div class="singer_info">
              <li class="singer_info_item">歌 手：<a href="/singer?singerName=<%= music.singerName %>" class="singer_info_link"><%= music.singerName %></a></li>
              <li class="singer_info_item">专 辑：<a href="" class="singer_info_link"><%= music.cdName %></a></li>
              <li class="singer_info_item">发行时间：<%= music.publicDate %></li>
            </div>
          </div>
          <div class="box_right">
            <!-- <div class="musicName"><%= music.musicName %></div> -->
            <div class="lyric_box">
              <span class="lyrci_txt"><%= music.lyric %></span>
              <ul id="lrc" class="lyric"></ul>
            </div>
          </div>
        </div>
        <div class="box_bottom">
          <audio class="audioDom" id="audioDom" src="<%= music.musicUrl %>" autoPlay></audio>
          <div class="bottom_left">
            <span class="prev js_prev"></span>
            <span class="play_btn js_player"></span>
            <span class="next js_next"></span>
          </div>
          <div class="bottom_middle">
            <div class="bottom_middle_top">
              <span class="songName"><%= music.musicName%>-<%= music.singerName%></span>
              <span class="duration_time">00:00</span>
              <span class="times">/ <%= music.time%></span>
            </div>
            <div class="bottom_middle_bottom">
              <span class="process"></span>
              <span class="process_btn"></span>
              <span class="duration_process"></span>
            </div>
          </div>
          <div class="bottom_right">
            <li><span class="bottom_right_volice"></span></li>
            <li><a href="" class="bottom_right_download" download="<%= music.musicName%> - <%= music.singerName%>.mp3" title="下载"></a></li>
            <li><span class="bottom_right_attention" title="添加"></span></li>
            <li><span class="bottom_right_comment" title="评论"></span></li>
          </div>
        </div>
      </div>

    <script src="/javascripts/jquery.js" type="text/javascript"></script>
    <script src="/javascripts/MusicPlayer.js"></script>
    <script src="/javascripts/main.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
      var isFirst = false;
      var audioDom = document.getElementById('audioDom');
      var medisArray = new Array();
      var fraction = 0.5;
      var lineNo = 0;
      var topNum = 0;

      medisArray = createLrc();

      localStorage.setItem('src', audioDom.src);

      audioDom.ontimeupdate = function () {
        var width = audioDom.currentTime/audioDom.duration*$('.process').width();
        var second = Math.floor(audioDom.currentTime/60);
        var minute = Math.floor(audioDom.currentTime%60);

        second = second<10?'0'+second:second;
        minute = minute<10?'0'+minute:minute;

        $('.process_btn').css('left', width);
        $('.duration_process').css('width', width);
        $('.duration_time').html(second+':'+minute);

        if (lineNo == medisArray.length - 1 && audioDom.currentTime.toFixed(3) >= parseFloat(medisArray[lineNo].t)) {
          linehight(lineNo);
        }
        // 高亮显示
        if (parseFloat(medisArray[lineNo].t) <= audioDom.currentTime.toFixed(3) && audioDom.currentTime.toFixed(3) <= parseFloat(medisArray[lineNo + 1].t)) {
          linehight(lineNo);
          lineNo++;
        }
      };

      $(function () {
        MusicPlayer.init($('.player'));
      });

      function createLrc() {
        var medis = $('.lyrci_txt').html();
        var medises = medis.split("\n");
        $.each(medises, function (i, item) {
          var t = item.substring(item.indexOf("[") + 1, item.indexOf("]"));
          medisArray.push({
            t: (t.split(":")[0] * 60 + parseFloat(t.split(":")[1])).toFixed(3),
            c: item.substring(item.indexOf("]") + 1, item.length)
          });
        });
        var ul = $("#lrc");
        $.each(medisArray, function (i, item) {
          var li = $("<li>");
          li.html(item.c);
          ul.append(li);
        });

        return medisArray;
      }
      // 高亮显示
      function linehight(lineno) {
        var ul = $("#lrc");
        var $ul = document.getElementById('lrc');

        if (lineno > 0) {
          $(ul.find("li").get(topNum + lineno - 1)).removeClass("lineheight");
        }
        var nowline = ul.find("li").get(topNum + lineno);
        $(nowline).addClass("lineheight");

        $('.lyric').scrollTop();

        // var _scrollTop;
        // $ul.scrollTop = 0;
        // if ($ul.clientHeight * fraction > nowline.offsetTop) {
        //   _scrollTop = 0;
        // } else if (nowline.offsetTop > ($ul.scrollHeight - $ul.clientHeight * (1 - fraction))) {
        //   _scrollTop = $ul.scrollHeight - $ul.clientHeight;
        // } else {
        //   _scrollTop = nowline.offsetTop - $ul.clientHeight * fraction;
        // }
        // // console.log(_scrollTop);
        // //以下声明歌词高亮行固定的基准线位置成为 “A”
        // if ((nowline.offsetTop - $ul.scrollTop) >= $ul.clientHeight * fraction) {
        //   //如果高亮显示的歌词在A下面，那就将滚动条向下滚动，滚动距离为 当前高亮行距离顶部的距离-滚动条已经卷起的高度-A到可视窗口的距离
        //   $ul.scrollTop += Math.ceil(nowline.offsetTop - $ul.scrollTop - $ul.clientHeight * fraction);
        // } else if ((nowline.offsetTop - $ul.scrollTop) < $ul.clientHeight * fraction && _scrollTop != 0) {
        //   //如果高亮显示的歌词在A上面，那就将滚动条向上滚动，滚动距离为 A到可视窗口的距离-当前高亮行距离顶部的距离-滚动条已经卷起的高度
        //   $ul.scrollTop -= Math.ceil($ul.clientHeight * fraction - (nowline.offsetTop - $ul.scrollTop));
        // } else if (_scrollTop == 0) {
        //   $ul.scrollTop = 0;
        // } else {
        //   $ul.scrollTop += $(ul.find('li').get(0)).height();
        // }
        //
        // console.log(_scrollTop, $ul.scrollTop);
      }
    });
    </script>
  </body>
</html>
