<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	</head>
<body>
	<% include ./public/header.html %>

	<div class="main">
		<div class="register">
			<p>
				<label>用户名</label>
				<input type="text" class="register_name" placeholder="请输入用户名">
				<span class="tip name_tip">*必填</span>
			</p>
			<p>
				<label>密码</label>
				<input type="password" class="register_pass" placeholder="请输入密码">
				<span class="tip pass_tip">*必填</span>
			</p>
			<p>
				<label>手机号码</label>
				<input type="text" class="telephone" placeholder="请输入手机号码">
				<span class="tip telephone_tip">*必填</span>
			</p>
			<p>
				<label>验证码</label>
				<input type="text" class="verification_code" placeholder="请输入验证码">
				<button type="button" class="js_send sendVer">发送验证码</button>
			</p>
			<p>
				<span class="register_tip"></span>
			</p>
			<p>
				<button type="button" class="js_register registerBtn">注册</button>
			</p>
		</div>
	</div>

	<% include ./public/footer.html %>

  <script src="/javascripts/jquery.js"></script>
  <script type="text/javascript">
    // 用户名检测 字母开头，允许 5-16 字节，允许字母数字下划线
		$('.register_name').blur(function () {
			var name = $('.register_name').val(),
			    reg = /^[a-zA-Z][a-zA-Z0-9_]{4,15}$/;

			if (!reg.test(name)) {
				$('.name_tip').html("请输入以字母开头的5-16个字符");
			} else {
				$('.name_tip').html("");
			}
		});
    // 密码检测 以字母开头，长度在 6~18 之间，只能包含字母、数字和下划线
		$('.register_pass').blur(function () {
			var password = $('.register_pass').val(),
          reg = /^[a-zA-Z]\w{5,17}$/;

			if (!reg.test(password)) {
				$('.pass_tip').html("请输入以字母开头的6-18个字符");
			} else {
				$('.pass_tip').html("");
			}
		});
  </script>
</body>
</html>
