<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
	<% include ./public/header.html %>
  <div class="subnav">
    <ul class="subnav_item">
      <li class="subnav_list"><a class="subnav_link" href="/">首页</a></li>
      <li class="subnav_list"><a class="subnav_link" href="/singerList?index=0">歌手</a></li>
      <li class="subnav_list"><a class="subnav_link" href="/chart?alt=0">排行榜</a></li>
    </ul>
  </div>
	<div class="main">
	  <div class="singer">
  		<div class="singer_info">
  		  <div class="singer_info_left">
  			  <img src="../<%= singer.imgUrl %>" alt="<%= singer.singerName%>">
  		  </div>
  		  <div class="singer_info_right">
  			  <h1 class="singer_name"><%= singer.singerName %></h1>
  			  <p class="singer_desc"><%= singer.description %></p>
          <p class="show_desc">展开</p>
  			  <div class="singer_att">
  			    <span class="attention js_att">关注</span>
            <span class="cancel js_cancle">取消关注</span>
            粉丝数：
  			    <span class="fans"><%= singer.attention %></span>
  			  </div>
  		  </div>
  		</div>
      <h2 class="song_list_title">热门歌曲</h2>
      <div class="music_list">
        <div class="list_title">
          <span class="song_songName">歌曲</span>
          <span class="song_singerName">歌手</span>
          <span class="song_ablum">专辑</span>
          <span class="song_time">时长</span>
        </div>
        <ul class="song_list">
          <% for (var i = 0; i < song.length; i++) { %>
            <li class="song_item">
              <span class="song_songName">
                <a href="javascript:;" class="music_name"><%= song[i].musicName %></a>
                <span class="song_icon">
                  <a href="javascript:;" class="play" title="播放"></a>
                  <a href="javascript:;" class="attent" title="添加"></a>
                  <a href="" download="<%= song[i].musicName %> - <%= song[i].singerName %>.mp3" class="download" title="下载"></a>
                </span>
              </span>
              <span class="song_singerName">
                <a href="http://localhost:3000/singerList/singer?singerName=<%= song[i].singerName %>"><%= song[i].singerName %></a>
              </span>
              <span class="song_ablum">
                <a href="#" class="singer_link_cdName" title="<%= song[i].cdName %>"><%= song[i].cdName %></a>
              </span>
              <span class="song_time"><%= song[i].time %></span>
            </li>
          <% } %>
        </ul>
      </div>
	  </div>
	</div>
	<% include ./public/footer.html %>
	<script src="/javascripts/jquery.js" type="text/javascript"></script>
	<script src="/javascripts/main.js"></script>
  </body>
</html>
