<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <% include ./public/header.html %>
    <div class="subnav">
      <ul class="subnav_item">
        <li class="subnav_list"><a class="subnav_link" href="/">首页</a></li>
        <li class="subnav_list"><a class="subnav_link" href="/singerList?index=0">歌手</a></li>
        <li class="subnav_list"><a class="subnav_link" href="/chart?alt=0">排行榜</a></li>
      </ul>
    </div>
    <div class="main">
      
    </div>
  <% include ./public/footer.html %>
	<script src="/javascripts/jquery.js" type="text/javascript"></script>
	<script src="/javascripts/main.js"></script>
</body>
</html>
