/* common */
body {
  color:#666;
  background-color:#fff;
  font: 12px/1.5 '微软雅黑',tahoma,arial,'Hiragino Sans GB',宋体,sans-serif;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4,h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td{
  margin:0;
  padding:0;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
fieldset,img {
  border:0;
}
address, caption, cite, code, dfn, em, strong, th, var {
  font-style:normal;
  font-weight:normal;
}
ol, ul{
  list-style:none;
}
caption, th{
  text-align:left;
}
h1, h2, h3, h4, h5, h6{
  font-size:100%;
  font-weight:normal;
}
q:before, q:after{
  content: ;
}
abbr, acronym{
  border:0;
}
.clearfix:after {
  visibility:hidden;
  display:block;
  font-size:0;
  content:" ";
  clear:both;
  height:0;
}
.clearfix {
  zoom:1;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
.icon_txt {
  font: 0/0 a;
}
.main {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  min-height: 400px;
}
/* header */
.header {
  width: 100%;
  height: 90px;
  line-height: 90px;
  border-bottom: 1px solid #f2f2f2;
}
.header .header-left {
  float: left;
  width: 640px;
  height: 90px;
  line-height: 90px;
  font-style: italic;
}
.header-left .icon_title {
  margin-left: 200px;
  font-size: 34px;
  font-weight: bold;
  color: #000;
}
.header .header-right {
  position: absolute;
  top: 0;
  right: 50px;
  height: 90px;
  line-height: 90px;
}
.header-right .header_right_list {
  float: left;
  margin: 0 6px;
  font-size: 16px;
}
.userImg {
  float: left;
  width: 50px;
  height: 50px;
  margin-top: 18px;
  margin-right: 10px;
  border-radius: 100%;
}
.header-right .header_right_link {
  padding: 8px 14px;
  background: #31c27c;
  color: #fff;
}
.header-right .header_right_link:hover {
  background: #2fa46c;
}
.register .registerBtn,
.login .loginBtn,
.forget .forgetBtn{
  padding: 5px 120px;
  margin-left: 52px;
  cursor: pointer;
  background: #31c27c;
  border: 0 none;
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
}
.register .registerBtn:hover,
.login .loginBtn:hover,
.forget .forgetBtn {
  color: #fff;
  outline: none;
  background: #2fa46c;
}
.register .register_tip,
.login .login_tip,
.forget .forget_tip {
  display: block;
  margin-left: 30px;
  color: red;
  height: 30px;
}
.logined ,
.unlogin{
  float: left;
  height: 90px;
}
.opt {
  display: none;
}
.logoutBtn {
  cursor: pointer;
}
/* nav */
.subnav {
  height: 65px;
}
.subnav .subnav_item {
  display: table;
  margin: 0 auto;
}
.subnav .subnav_list {
  float: left;
  height: 65px;
  line-height: 65px;
}
.subnav .subnav_link {
  display: block;
  padding: 0 14px;
  font-size: 18px;
  color: #777;
}
.subnav .subnav_link:hover,
.subnav .subnav_link--current {
  color: #2fa46c;
}
/* footer */
.footer {
  height: 120px;
  clear: both;
}
.footer_copyright {
  padding: 25px 0;
  text-align: center;
  line-height: 28px;
  color: #999;
  font-size: 14px;
}
.footer_copyright a {
  padding: 0 6px;
  color: #999;
}
/* register login */
.register p,
.login p,
.forget p {
  padding: 10px 0;
  overflow: hidden;
}
.register label,
.login label,
.forget label {
  display: inline-block;
  width: 100px;
  padding: 8px 0;
  text-align: center;
}
.register input:focus,
.login input:focus,
.forget input:focus {
  outline: none;
}
/* singer */
.song_list li {
  position: relative;
  height: 50px;
  line-height: 50px;
}
.item {
  font-size: 15px;
  height: 50px;
  line-height: 50x;
}
.music_list span {
  display: inline-block;
  overflow: hidden;
  height: 50px;
  line-height: 50px;
}
.song_songName {
  width: 42%;
  margin-left: 30px;
}
.song_icon {
  position: absolute;
  top: 0;
  left: 25%;
  width: 29%;
  height: 50px;
}
.list_sort {
  width: 40px;
  text-align: right;
  font-size: 16px;
}
/* .song_item {
  height: 50px;
  line-height: 50px;
  font-size: 0;
}
.song_item span {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  font-size: 14.5px;
  overflow: hidden;
}
.song_songName {
  width: 53%;
  margin-left: 30px;
  overflow: hidden;
  cursor: pointer;
} */
/* .song_icon {
  display: none;
  width: 30%;
} */
.song_icon a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-top: 8px;
}
.play {
  background: url(/images/icon_list_menu.png) 0px 0px;
}
.play:hover {
  background: url(/images/icon_list_menu.png) -40px 0px;
}
.attent {
  background: url(/images/icon_list_menu.png) 0px 200px;
}
.attent:hover {
  background: url(/images/icon_list_menu.png) -40px 200px;
}
.download {
  background: url(/images/icon_list_menu.png) 0px 160px;
}
.download:hover {
  background: url(/images/icon_list_menu.png) -40px 160px;
}
.share {
  background: url(/images/icon_list_menu.png) 0px 240px;
}
.share:hover {
  background: url(/images/icon_list_menu.png) -40px 240px;
}
.comment {
  background: url(/images/icon_list_menu.png) 0px 40px;
}
.comment:hover {
  background: url(/images/icon_list_menu.png) -40px 40px;
}
.song_singerName {
  width: 15%;
}
.song_ablum {
  width: 15%;
}
.song_time {
  width: 10%;
}
/* player */
.player {
  width: 100%;
  height: 600px;
  margin: 0 auto;
}
.player_box {
  height: 520px;
  color: #f2f2f2;
  background: #333;
}
.box_left {
  float: left;
  width: 40%;
  height: 500px;
  text-align: center;
}
.box_left .singer {
  height: 300px;
}
.box_left .singer_info {
  height: 200px;
}
.box_left_img {
  width: 200px;
  height: 200px;
  margin-top: 70px;
  border-radius: 100%;
}
.singer_info_item {
  width: 150px;
  height: 30px;
  line-height: 30px;
  text-align: left;
  margin: 0 auto;
  margin-left: 100px;
  overflow: hidden;
  color: #f2f2f2;
}
.singer_info_link {
  color: #f2f2f2;
}
.box_right {
  float: right;
  width: 60%;
  height: 500px;
}
.box_right .musicName {
  height: 80px;
  line-height: 80px;
  text-align: center;
  font-size: 16px;
}
.lyric {
  height: 420px;
  text-align: center;
  overflow: hidden;
  color: #f2f2f2;
  padding: 0 40px;
}
.box_bottom {
  height: 82px;
  background: #000;
}
.bottom_left {
  float: left;
  width: 24%;
  height: 80px;
  line-height: 80px;
  margin-left: 40px;
}
.bottom_left span {
  display: inline-block;
  margin-left: 5px;
  margin-top: 14px;
  cursor: pointer;
  border-radius: 100%;
}
.prev {
  display: block;
  width: 34px;
  height: 34px;
  background: #fff url(/images/prev.png) no-repeat 1px 1px;
}
.play_btn {
  width: 50px;
  height: 50px;
  background: #fff url(/images/pause.png) no-repeat 1px 1px;
}
.next {
  display: block;
  width: 34px;
  height: 34px;
  background: #fff url(/images/next.png) no-repeat 1px 1px;
}
.bottom_middle {
  float: left;
  width: 500px;
  height: 80px;
  line-height: 80px;
}
.bottom_middle_top {
  height: 50px;
  color: #fff;
}
.songName {
  float: left;
  width: 390px;
  height: 50px;
  line-height: 50px;
}
.duration_time {
  float: left;
  width: 36px;
  height: 50px;
  line-height: 50px;
}
.times {
  float: left;
  width: 46px;
  height: 50px;
  line-height: 50px;
}
.bottom_middle_bottom {
  position: relative;
  height: 30px;
}
.process {
  float: left;
  width: 480px;
  height: 6px;
  background: #fff;
}
.process_btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  margin-left: -6px;
  margin-top: -3px;
  border-radius: 100%;
  background: #31c27c;
}
.duration_process {
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 6px;
  background: #31c27c;
}
.bottom_right {
  float: left;
  width: 260px;
  height: 80px;
  line-height: 80px;
}
.bottom_right li {
  float: left;
  width: 40px;
  height: 80px;
  margin-left: 10px;
}
.bottom_right span {
  display: block;
  margin-top: 24px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  cursor: pointer;
}
.bottom_right_attention {
  /* display: block;
  width: 38px;
  height: 38px;
  line-height: 38px;
  margin-top: 24px; */
  background: url(/images/icon_list_menu.png) no-repeat 0px -78px;
}
.bottom_right_attention:hover {
  background: url(/images/icon_list_menu.png) no-repeat -40px -78px;
}
.bottom_right_comment {
  display: block;
  margin-top: 24px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: url(/images/icon_list_menu.png) no-repeat 0px -238px;
}
.bottom_right_comment:hover {
  background: url(/images/icon_list_menu.png) no-repeat -40px -238px;
}
.bottom_right_download {
  background: url(/images/icon_list_menu.png) no-repeat 0px -118px;
}
.bottom_right_download:hover {
  background: url(/images/icon_list_menu.png) no-repeat -40px -118px;
}
.bottom_right_add {
  background: url(/images/icon_list_menu.png) no-repeat 0px -78px;
}
.bottom_right_add:hover {
  background: url(/images/icon_list_menu.png) no-repeat -40px -78px;
}
.bottom_right_share {
  background: url(/images/icon_list_menu.png) no-repeat 0px -38px;
}
.bottom_right_share:hover {
  background: url(/images/icon_list_menu.png) no-repeat -40px -38px;
}
/* page */
.page {
  height: 30px;
  margin: 40px auto;
}
.page_items {
  display: table;
  margin: 0 auto;
}
.page_item {
  display: inline;
}
.page_list {
  float: left;
}
.page_link {
  display: block;
  height: 28px;
  line-height: 28px;
  padding: 0 8px;
  color: #333;
  margin: 0 5px;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid #e8e8e8;
}
.page_link--current,
.page_link:hover {
  background: #31c27c;
  color: #fff;
}
.js_first,
.sj_end {
  display: none;
}
