/* common */
body {
  color:#666;
  background-color:#fff;
  font: 12px/1.5 '微软雅黑',tahoma,arial,'Hiragino Sans GB',宋体,sans-serif;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4,h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td{
  margin:0;
  padding:0;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
fieldset,img {
  border:0;
}
address, caption, cite, code, dfn, em, strong, th, var {
  font-style:normal;
  font-weight:normal;
}
ol, ul{
  list-style:none;
}
caption, th{
  text-align:left;
}
h1, h2, h3, h4, h5, h6{
  font-size:100%;
  font-weight:normal;
}
q:before, q:after{
  content: ;
}
abbr, acronym{
  border:0;
}
.clearfix:after {
  visibility:hidden;
  display:block;
  font-size:0;
  content:" ";
  clear:both;
  height:0;
}
.clearfix {
  zoom:1;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
/* header */
.header {
  width: 100%;
  height: 90px;
  line-height: 90px;
  border-bottom: 1px solid #f2f2f2;
}
.header .header-left {
  float: left;
  width: 640px;
  height: 90px;
  line-height: 90px;
  font-style: italic;
}
.header-left .icon_title {
  margin-left: 200px;
  font-size: 34px;
  font-weight: bold;
  color: #000;
}
.header .header-right {
  position: absolute;
  top: 0;
  right: 50px;
  height: 90px;
  line-height: 90px;
}
.header-right .header_right_list {
  float: left;
  margin: 0 6px;
  font-size: 16px;
}
.userImg {
  float: left;
  width: 50px;
  height: 50px;
  margin-top: 18px;
  margin-right: 10px;
  border-radius: 100%;
}
.header-right .header_right_link {
  padding: 8px 14px;
  background: #31c27c;
  color: #fff;
}
.header-right .header_right_link:hover {
  background: #2fa46c;
}
.logined ,
.unlogin{
  float: left;
  height: 90px;
}
.opt {
  display: none;
}
.logoutBtn {
  cursor: pointer;
}
.icon_txt {
  font: 0/0 a;
}
/* footer */
.footer {
  height: 120px;
  clear: both;
}
.footer_copyright {
  padding: 25px 0;
  text-align: center;
  line-height: 28px;
  color: #999;
  font-size: 14px;
}
.footer_copyright a {
  padding: 0 6px;
  color: #999;
}
