/* register */
.register {
  width: 480px;
  height: 150px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
.register input {
  width: 210px;
  height: 24px;
  padding: 0 11px;
  border: 1px solid #E8E8E8;
  border-radius: 6px;
  box-shadow: 1px 1px 1px 1px #f2f2f2;
}
.register .verificationcode {
  width: 110px;
}
.register .registerBtn {
  padding: 5px 120px;
  margin-top: 30px;
  margin-left: 80px;
  cursor: pointer;
  background: #31c27c;
  border: 0 none;
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
}
.register .registerBtn:hover {
  color: #fff;
  outline: none;
  background: #2fa46c;
}
.register .sendVer {
  padding: 5px 8px;
  cursor: pointer;
  margin-left: 10px;
  background: #fff;
  border: 1px solid #E8E8E8;
  border-radius: 6px;
  outline: none;
}
.register .tip {
  display: inline-block;
  width: 120px;
  margin-left: 10px;
  color: red;
}

/* login */
.login {
  width: 480px;
  height: 150px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
.login input[type="text"],
.login input[type="password"] {
  width: 210px;
  height: 24px;
  padding: 0 11px;
  border: 1px solid #E8E8E8;
  border-radius: 6px;
  box-shadow: 1px 1px 1px 1px #f2f2f2;
}
.forget_pass {
  float: right;
  margin-right: 140px;
}
.login .loginrBtn {
  padding: 5px 120px;
  margin-top: 30px;
  margin-left: 60px;
  cursor: pointer;
  background: #31c27c;
  border: 0 none;
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
}
.login .loginrBtn:hover {
  color: #fff;
  outline: none;
  background: #2fa46c;
}

/* search */
.search {
  position: absolute;
  width: 210px;
  height: 30px;
  top: 0;
  right: 240px;
  margin-top: 30px;
  background: #fff;
  border: 1px solid #e8e8e8;
}
.search .search_input {
  float: left;
  width: 160px;
  height: 22px;
  padding: 4px 8px;
  color: #999;
  border: 0 none;
  outline: none;
}
.search .search_btn {
  float: right;
  width: 30px;
  height: 30px;
  border: 0 none;
  outline: none;
  cursor: pointer;
  background: url(/images/search.png) no-repeat center center;
}
/* index */
.new_song,
.hot_song,
.chart {
  width: 1200px;
  height: 600px;
  margin: 30px auto;
  border-bottom: 1px solid #e8e8e8;
}
.new_song_title,
.hot_song_title,
.chart_title {
  display: block;
  height: 60px;
  line-height: 60px;
  font-size: 21px;
  text-align: center;
}
.hot_song {
  height: 600px;
}
.hot_song_content {
  margin-top: 30px;
  height: 450px;
  background: url(/images/bg_index_top.jpg);
}
.hot_song_list {
  float: left;
  width: calc(100% / 4);
  height: 450px;
}
.hot_song__title {
  display: block;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #e8e8e8;
  font-size: 18px;
}
.hot_song__item {
  padding: 8px 26px;
}
.hot_song__link {
  display: block;
  height: 18px;
  font-size: 15px;
  overflow: hidden;
  color: #e8e8e8;
}
.hot_song__link:hover {
  color: #31c27c;
}
.hot_song__item .more {
  text-align: right;
}

/*旋转木马必要样式*/
.poster-main {
  position: relative;
  width: 1200px;
  height: 470px;
  margin-top: 30px;
}
.poster-main a,
.poster-main img {
  display:block;
}
.poster-main .poster-list{
  width: 1200px;
  height: 470px;
}
.poster-main .poster-list .poster-item {
  position:absolute;
  left:0;
  top:0;
}
.poster-main .poster-btn {
  position:absolute;
  top:0;
  width:100px;
  height: 270px;
  z-index: 10;
  cursor: pointer;
  opacity: 0.8;
}
.poster-main .poster-prev-btn {
  left:0;
  background: url(/images/btn_l.png) no-repeat center center;
}
.poster-main .poster-next-btn {
  right:0;
  background: url(/images/btn_r.png) no-repeat center center;
}
