.main,
.section_inner {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
/* register */
.register {
  width: 560px;
  height: 350px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
.register .verificationcode,
.forget .verificationcode{
  width: 110px;
}
.register .sendVer,
.forget .sendVer {
  padding: 5px 8px;
  cursor: pointer;
  margin-left: 10px;
  background: #fff;
  border: 1px solid #E8E8E8;
  border-radius: 6px;
  outline: none;
}
.tip {
  display: inline-block;
  width: 200px;
  margin-left: 10px;
  color: red;
}
/* login */
.login {
  width: 340px;
  height: 350px;
  margin-top: 50px;
  margin-left: 370px;
}
.register input,
.login input,
.forget input {
  width: 210px;
  height: 24px;
  padding: 0 11px;
  border: 1px solid #E8E8E8;
  border-radius: 6px;
}
.register input:focus,
.login input:focus,
.forget input:focus {
  box-shadow: 0px 0px 5px 1px #cbc8fb;
}
/* forget */
.forget {
  width: 560px;
  height: 200px;
  margin: 30px auto;
}
.forget_register {
  float: right;
  margin-right: 15px;
}
.forget_pass {
  float: left;
  margin-left: 50px;
}
/* search */
.search {
  position: absolute;
  width: 210px;
  height: 30px;
  top: 0;
  right: 240px;
  margin-top: 30px;
  background: #fff;
  border: 1px solid #e8e8e8;
}
.search .search_input {
  float: left;
  width: 160px;
  height: 22px;
  padding: 4px 8px;
  color: #999;
  border: 0 none;
  outline: none;
}
.search .search_btn {
  float: right;
  width: 30px;
  height: 30px;
  border: 0 none;
  outline: none;
  cursor: pointer;
  background: url(/images/search.png) no-repeat center center;
}
/* index */
.new_song,
.hot_song,
.chart {
  width: 1200px;
  height: 600px;
  margin: 30px auto;
  border-bottom: 1px solid #e8e8e8;
}
.new_song_title,
.hot_song_title,
.chart_title {
  display: block;
  height: 60px;
  line-height: 60px;
  font-size: 21px;
  text-align: center;
}
.hot_song {
  height: 600px;
}
.hot_song_content {
  margin-top: 30px;
  height: 450px;
  background: url(/images/bg_index_top.jpg);
}
.hot_song_list {
  float: left;
  width: calc(100% / 4);
  height: 450px;
}
.hot_song__title {
  display: block;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #e8e8e8;
  font-size: 18px;
}
.hot_song__item {
  padding: 7px 26px;
  cursor: pointer;
  font-size: 14px;
  color: #e8e8e8;
  overflow: hidden;
}
.hot_song__link {
  display: block;
  height: 18px;
  font-size: 14px;
  overflow: hidden;
  color: #e8e8e8;
}
.hot_song__item:hover,
.hot_song__link:hover,
.more:hover {
  color: #666;
}
.more {
  float: right;
  height: 40px;
  line-height: 40px;
  margin-right: 20px;
  color: #f2f2f2;
}
.hot_song__item .musicName {
  float: left;
  width: 180px;
  overflow: hidden;
}
.hot_song__item .singerName {
  float: right;
  width: 60px;
  overflow: hidden;
}
.poster-main {
  position: relative;
  width: 1200px;
  height: 470px;
  margin-top: 30px;
}
.poster-main a,
.poster-main img {
  display:block;
}
.poster-main .poster-list{
  width: 1200px;
  height: 470px;
}
.poster-main .poster-list .poster-item {
  position:absolute;
  left:0;
  top:0;
}
.poster-main .poster-btn {
  position:absolute;
  top:0;
  width:100px;
  height: 270px;
  z-index: 10;
  cursor: pointer;
  opacity: 0.8;
}
.poster-main .poster-prev-btn {
  left:0;
  background: url(/images/btn_l.png) no-repeat center center;
}
.poster-main .poster-next-btn {
  right:0;
  background: url(/images/btn_r.png) no-repeat center center;
}
/* chart */
.charts {
  min-height: 650px;
  background: url(/images/bg_detail.jpg) no-repeat;
}
.chart_left {
  float: left;
  width: 200px;
  height: 400px;
  margin-right: 30px;
}
.chart_left_title {
  height: 80px;
  line-height: 90px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #ebebeb;
}
.chart_list__link{
  font-size: 15px;
  display: block;
  line-height: 22px;
  padding: 8px 17px;
}
.chart_list__link--current,
.chart_list__link--current:hover {
  background-color: #31c27c;
  color: #fff;
}
.chart_list {
  display: block;
  height: 40px;
  line-height: 40px;
  margin-bottom: 2px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}
.chart_list--current,
.chart_list:hover {
  color: #fff;
  background: #31c27c;
}
.chart_right {
  overflow: hidden;
}
.chart_right_title {
  /* font-weight: bold; */
  font-size: 19px;
  height: 60px;
  line-height: 60px;
  margin-left: 100px;
}
.chart_content_list {
  height: 60px;
  line-height: 60px;
  font-size: 0;
}
.chart_content_list span {
  float: left;
  font-size: 15px;
}
/* singerList */
.singer_tag {
  width: 1200px;
  background-color: #fbfbfb;
  padding: 30px 0 20px 30px;
  margin: 30px 0 20px;
  box-sizing: border-box;
}
.singer_tag__list {
  padding-bottom: 3px;
  height: auto;
  zoom: 1;
  clear: both;
  overflow: hidden;
}
.singer_tag__item--select,
.singer_tag__item--select:hover {
  background-color: #31c27c;
  color: #fff;
}
.singer_tag__item {
  float: left;
  line-height: 26px;
  padding: 0 8px;
  margin: 0 12px 14px 0;
  cursor: pointer;
}
.singer_tag__item:hover {
  background-color: #31c27c;
  color: #fff;
}
.singer_list {
  overflow: hidden;
}
.singer_list__item {
  float: left;
  width: 20%;
  margin-bottom: 20px;
  overflow: hidden;
}
.singer_list__item_box {
  position: relative;
  margin-right: 20px;
  background-color: #fbfbfd;
  min-height: 195px;
  padding: 25px 0;
  overflow: hidden;
}
.singer_img {
  display: block;
  width: 140px;
  height: 140px;
  margin-top: 10px;
  border-radius: 100%;
}
.singer_list__link {
  display: block;
  width: 140px;
  height: 30px;
  line-height: 30px;
  font-size: 15px;
  text-align: center;
  overflow: hidden;
  color: #333;
}
.singer_list_link {
  display: block;
  width: 150px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  overflow: hidden;
  color: #333;
}
.singer_list__link:hover,
.singer_list_link:hover {
  color: #31c27c;
}
.singer_list_item {
  float: left;
  width: calc(100% / 5);
  height: 45px;
  line-height: 45px;
  font-size: 15px;
  text-align: left;
}
.singer_list__cover, .singer_list__pic {
  display: block;
  width: 140px;
  height: 140px;
  border-radius: 126px;
}
.singer_list__cover {
  margin-left: auto;
  margin-right: auto;
}
.singer_list__title {
  font-size: 16px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  zoom: 1;
  margin: 20px 30px 4px;
}
.singer_list_txt__item {
  float: left;
  width: 20%;
}
.singer_list_txt__link {
  float: left;
  max-width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  line-height: 36px;
}
/* nav */
.subnav {
  height: 65px;
}
.subnav .subnav_item {
  display: table;
  margin: 0 auto;
}
.subnav .subnav_list {
  float: left;
  height: 65px;
  line-height: 65px;
}
.subnav .subnav_link {
  display: block;
  padding: 0 14px;
  font-size: 18px;
  color: #777;
}
.subnav .subnav_link:hover,
.subnav .subnav_link--current {
  color: #2fa46c;
}
/* register login */
.register .registerBtn,
.login .loginBtn,
.forget .forgetBtn{
  padding: 5px 120px;
  margin-left: 52px;
  cursor: pointer;
  background: #31c27c;
  border: 0 none;
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
}
.register .registerBtn:hover,
.login .loginBtn:hover,
.forget .forgetBtn {
  color: #fff;
  outline: none;
  background: #2fa46c;
}
.register .register_tip,
.login .login_tip,
.forget .forget_tip {
  display: block;
  margin-left: 30px;
  color: red;
  height: 30px;
}
.register p,
.login p,
.forget p {
  padding: 10px 0;
  overflow: hidden;
}
.register label,
.login label,
.forget label {
  display: inline-block;
  width: 100px;
  padding: 8px 0;
  text-align: center;
}
.register input:focus,
.login input:focus,
.forget input:focus {
  outline: none;
}
/* singer */
.singer {
  width: 1200px;
  margin: 0 auto;
}
.singer .singer_info {
  height: 350px;
  margin: 30px 0;
  background: #fbfbfb;
}
.singer_info_left {
  float: left;
}
.singer_info_left img {
  display: block;
  width: 250px;
  height: 250px;
  margin-left: 50px;
  margin-top: 60px;
  border-radius: 100%;
}
.singer_att {
  overflow: hidden;
  margin-top: 20px;
}
.fans_txt,
.fans {
  float: left;
  height: 32px;
  line-height: 32px;
}
.fans_txt {
  margin-left: 30px;
}
.attention,
.cancel {
  float: left;
  width: 100px;
  height: 32px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}
.attention {
  color: #fff;
  background: #31c27c;
}
.cancel {
  display: none;
  background: #fff;
  color: #31c27c;
  border: 1px solid #31c27c;
}
.singer_info_right {
  float: left;
  padding: 90px 40px 0;
}
.singer_name {
  font-size: 20px;
  font-weight: bold;
}
.singer_desc {
  width: 780px;
  height: 22px;
  overflow: hidden;
  margin-top: 26px;
}
.show_desc {
  position: relative;
  text-align: right;
  color: #31c27c;
  cursor: pointer;
}
.spread_content {
  display: none;
  position: absolute;
  top: 200px;
  right: 80px;
  width: 525px;
  max-height: 150px;
  padding: 15px;
  background: #fff;
  border: 1px solid #f2f2f2;
  overflow-y: scroll;
  z-index: 6;
}
.song_list li {
  position: relative;
  height: 50px;
  line-height: 50px;
}
.item {
  font-size: 15px;
  height: 50px;
  line-height: 50x;
}
.list_title span {
  display: inline-block;
  overflow: hidden;
  height: 50px;
  line-height: 50px;
}
.song_item span {
  float: left;
  font-size: 14px;
  height: 50px;
  overflow: hidden;
}
.song_list_title {
  height: 50px;
  line-height: 50px;
  margin-left: 50px;
  font-size: 15px;
  font-weight: bold;
}
.song_num {
  width: 60px;
  text-align: right;
}
.song_songName {
  position: relative;
  width: 40%;
  margin-left: 50px;
  cursor: pointer;
}
.song_icon {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
}
.song_icon a {
  display: none;
  float: left;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-top: 8px;
}
.song_singerName {
  width: 10%;
}
.song_ablum {
  width: 20%;
}
.song_time {
  width: 10%;
}
.dabang {
  cursor: pointer;
}
.list_sort {
  width: 40px;
  text-align: right;
  font-size: 16px;
}
.play {
  background: url(/images/icon_list_menu.png) 0px 0px;
}
.play:hover {
  background: url(/images/icon_list_menu.png) -40px 0px;
}
.append {
  background: url(/images/icon_list_menu.png) 0px 200px;
}
.append:hover {
  background: url(/images/icon_list_menu.png) -40px 200px;
}
.download {
  background: url(/images/icon_list_menu.png) 0px 160px;
}
.download:hover {
  background: url(/images/icon_list_menu.png) -40px 160px;
}
.delete {
  background: url(/images/icon_list_menu.png) 0px 120px;
}
.delete:hover {
  background: url(/images/icon_list_menu.png) -40px 120px;
}
/* player */
.player {
  width: 100%;
  height: 600px;
  margin: 0 auto;
}
.player_box {
  height: 520px;
  color: #f2f2f2;
  background: #333;
}
.box_left {
  float: left;
  width: 40%;
  height: 500px;
  text-align: center;
}
.box_left .player_singer {
  height: 300px;
}
.box_left .singer_info {
  height: 200px;

}
.box_left_img {
  width: 200px;
  height: 200px;
  margin-top: 70px;
  border-radius: 100%;
}
.singer_info_item {
  width: 150px;
  height: 30px;
  line-height: 30px;
  text-align: left;
  margin: 0 auto;
  margin-left: 100px;
  overflow: hidden;
  color: #b9b3b3;
}
.singer_info_link {
  color: #b9b3b3;
}
.box_right {
  float: right;
  width: 60%;
  height: 500px;
}
.lyric_box {
  text-align: center;
  overflow: hidden;
  color: #f2f2f2;
  padding: 0 40px;
}
.lyrci_txt {
  display: none;
}
.lyric {
  height: 460px;
  margin-top: 28px;
  font-size: 14px;
  overflow-y: scroll;
}
.lyric li {
  color: #b9b3b3;
}
.box_bottom {
  height: 82px;
  background: #000;
}
.bottom_left {
  float: left;
  width: 25%;
  height: 80px;
  line-height: 80px;
  text-align: center;
  margin-left: 40px;
}
.bottom_left span {
  display: inline-block;
  margin-left: 10px;
  margin-top: 14px;
  cursor: pointer;
  border-radius: 100%;
}
.prev {
  display: block;
  width: 34px;
  height: 34px;
  background: #fff url(/images/prev.png) no-repeat 1px 1px;
}
.play_btn {
  width: 50px;
  height: 50px;
  background: #fff url(/images/pause.png) no-repeat 1px 1px;
}
.next {
  display: block;
  width: 34px;
  height: 34px;
  background: #fff url(/images/next.png) no-repeat 1px 1px;
}
.bottom_middle {
  float: left;
  width: 500px;
  height: 80px;
  line-height: 80px;
}
.bottom_middle_top {
  height: 50px;
  color: #fff;
}
.songName {
  float: left;
  width: 390px;
  height: 50px;
  line-height: 50px;
}
.duration_time {
  float: left;
  width: 36px;
  height: 50px;
  line-height: 50px;
}
.times {
  float: left;
  width: 46px;
  height: 50px;
  line-height: 50px;
}
.bottom_middle_bottom {
  position: relative;
  height: 30px;
}
.process {
  float: left;
  width: 480px;
  height: 6px;
  background: #fff;
}
.process_btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  margin-left: -6px;
  margin-top: -3px;
  border-radius: 100%;
  background: #31c27c;
}
.duration_process {
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 6px;
  background: #31c27c;
}
.bottom_right {
  float: left;
  width: 260px;
  height: 80px;
  line-height: 80px;
}
.bottom_right li {
  float: left;
  width: 40px;
  height: 80px;
  margin-left: 10px;
}
.bottom_right span,
.bottom_right a {
  display: block;
  margin-top: 24px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  cursor: pointer;
}
.bottom_right_volice {
  background: url(/images/volume.png) no-repeat 0px 0px;
}
.bottom_right_attention {
  background: url(/images/icon_list_menu.png) no-repeat 0px -78px;
}
.bottom_right_attention:hover {
  background: url(/images/icon_list_menu.png) no-repeat -40px -78px;
}
.bottom_right_comment {
  display: block;
  margin-top: 24px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: url(/images/icon_list_menu.png) no-repeat 0px -238px;
}
.bottom_right_comment:hover {
  background: url(/images/icon_list_menu.png) no-repeat -40px -238px;
}
.bottom_right_download {
  display: block;
  height: 40px;
  background: url(/images/icon_list_menu.png) no-repeat 0px -118px;
}
.bottom_right_download:hover {
  background: url(/images/icon_list_menu.png) no-repeat -40px -118px;
}
.bottom_right_add {
  background: url(/images/icon_list_menu.png) no-repeat 0px -78px;
}
.bottom_right_add:hover {
  background: url(/images/icon_list_menu.png) no-repeat -40px -78px;
}
.bottom_right_share {
  background: url(/images/icon_list_menu.png) no-repeat 0px -38px;
}
.bottom_right_share:hover {
  background: url(/images/icon_list_menu.png) no-repeat -40px -38px;
}
/* page */
.page {
  height: 30px;
  margin: 40px auto;
}
.page_items {
  display: table;
  margin: 0 auto;
}
.page_item {
  display: inline;
}
.page_list {
  float: left;
}
.page_link {
  display: block;
  height: 28px;
  line-height: 28px;
  padding: 0 8px;
  color: #333;
  margin: 0 5px;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid #e8e8e8;
}
.page_link--current,
.page_link:hover {
  background: #31c27c;
  color: #fff;
}
.js_first,
.sj_end {
  display: none;
}
/* comment */
.comment {
  height: 1400px;
}
.comment .singer_info {
  height: 360px;
  background: #fbfbfb;
}
.ablum_img {
  float: left;
  width: 240px;
  height: 240px;
  margin-top: 50px;
  margin-left: 30px;
}
.ablum_info {
  float: left;
  margin-top: 50px;
  margin-left: 60px;
}
.ablum_info p {
  height: 30px;
  line-height: 30px;
}
.ablum_info .comment_musicName {
  font-size: 26px;
  height: 60px;
  line-height: 60px;
}
.ablum_info .comment_singerName {
  font-size: 15px;
  height: 50px;
  line-height: 50px;
}
.comment_btn_play {
  /* height: 60px;
  line-height: 60px; */
  margin-top: 30px;
  overflow: hidden;
}
.comment_btn_play span {
  float: left;
  margin-right: 20px;
  padding: 8px 40px;
  border-radius: 3px;
  color: #333;
  border: 1px solid #999;
  cursor: pointer;
}
.comment_btn_play .comment_play {
  color: #fff;
  background: #31c27c;
  border: 1px solid #31c27c;
}
.comment_area {
  min-height: 1000px;
  margin-top: 40px;
  overflow: hidden;
}
.add_comment {
  width: 921px;
  height: 260px;
}
.comment_title {
  display: block;
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  font-weight: bold;
}
.comment_content {
  padding: 8px;
}
.comment_btn {
  float: right;
  width: 100px;
  height: 30px;
  margin-top: 30px;
  border: 0 none;
  color: #fff;
  background: #31c27c;
}
.comment_btn:hover {
  color: #fff;
  background: #31c27c;
}
.comment_new {
  font-size: 14px;
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #e8e8e8;
}
.comment_user {
  /* background: red; */
  height: 660px;
  overflow: hidden;
}
.comment_item {
  overflow: hidden;
  border-bottom: 1px solid #f2f2f2;
}
.comment_item_left {
  float: left;
  width: 80px;
  height: 100px;
  font-size: 0;
  text-align: center;
}
.userImg_comment img {
  width: 46px;
  height: 46px;
  margin-top: 20px;
  border-radius: 100%;
}
.comment_item_right {
  float: left;
}
.comment_list {
  font-size: 14px;
}
.userName {
  display: block;
  height: 30px;
  line-height: 30px;
  font-size: 13px;
}
.list_content {
  width: 1000px;
  font-size: 14px;
}
.time {
  display: block;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
}
/* personal */
.user_info {
  width: 240px;
  height: 600px;
  float: left;
  text-align: center;
}
.user_list {
  margin-top: 20px;
}
.user_link {
  display: block;
  height: 40px;
  line-height: 40px;
  margin-top: 2px;
  font-size: 14px;
}
.user_link--current,
.user_link:hover {
  background: #31c27c;
  color: #fff;
}
.user_item {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
}
.content {
  float: left;
  width: 900px;
}
/* singerList */
.mod_singer_push {
  position: relative;
  width: 100%;
  height: 376px;
  background: url(/images/bg_singer.jpg) 50% 0 repeat-x;
  overflow: hidden;
}
.section_inner {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  height: 400px;
}
.singer_push__tit {
  width: 494px;
  height: 60px;
  margin-top: 103px;
  background-position: 0 0;
}
.singer_push__desc {
  width: 260px;
  height: 26px;
  margin-top: 20px;
  background-position: 0 -70px;
}
.singer_push__desc,
.singer_push__tit {
  margin-left: auto;
  margin-right: auto;
  background-image: url(/images/singer_tit.png);
}
.result_title {
  height: 60px;
  line-height: 60px;
  font-size: 15px;
  margin-left: 45px;
}
.success {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 140px;
  margin-left: -100px;
  margin-top: -70px;
  font-size: 16px;
  line-height: 140px;
  text-align: center;
  background: #2f2727e3;
  color: #f2f2f2;
  border-radius: 8px;
}
.lyric .lineheight {
  color: #31c27c;
  font-size: 16px;
}
