<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/common.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="header">
      <div class="header-left">
        <a href="/" class="icon_title">音乐台</a>
      </div>
      <div class="search">
        <input type="text" name="" value="" class="search_input" placeholder="请输入关键字">
        <button type="button" name="button" class="js_search search_btn">
          <span class="icon_txt">搜索</span>
        </button>
      </div>

      <ul class="header-right">
        <div class="opt">
          <li class="header_right_list"><a class="header_right_name" href="/personal"></a></li>
          <a class="logoutBtn">退出</a>
        </div>
        <div class="header_content">
          <li class="header_right_list"><a class="header_right_link" href="/register">注册</a></li>
          <li class="header_right_list"><a class="header_right_link" href="/login">登录</a></li>
        </div>
      </ul>
    </div>
  </body>
</html>
