<div class="music_list">
  <div class="list_title">
    <span class="song_songName">歌曲</span>
    <span class="song_icon"></span>
    <span class="song_singerName">歌手</span>
    <span class="song_ablum">专辑</span>
    <span class="song_time">时长</span>
  </div>
  <ul class="song_list">
    <% for (var i = 0; i < song.length; i++) { %>
      <li class="song_item">
        <span class="song_songName">
          <a href="javascript:;" class="music_name"><%= song[i].musicName %></a>
        </span>
        <span class="song_icon">
          <span class="play" title="播放"></span>
          <span class="attent" title="添加"></span>
          <a href="" download="<%= song[i].musicName %> - <%= song[i].singerName %>.mp3" class="download" title="下载"></a>
        </span>
        <span class="song_singerName"><%= song[i].singerName %></span>
        <span class="song_ablum"><a href="#" class="singer_link_cdName"><%= song[i].cdName %></a></span>
        <span class="song_time"><%= song[i].time %></span>
      </li>
    <% } %>
  </ul>
</div>
