<div class="song_list">
  <li class="song_item">
    <span class="song_songName">歌曲</span>
    <span class="song_icon"></span>
    <span class="song_singerName">歌手</span>
    <span class="song_ablum">专辑</span>
    <span class="song_time">时长</span>
  </li>
  <% for (var i = 0; i < song.length; i++) { %>
    <li class="song_item">
      <span class="song_songName"><a href="/player?singerName=<%= song[i].singerName %>&alt=<%= i %>"><%= song[i].musicName %></a></span>
      <span class="song_icon">
        <a href="/player?musicName=<%= song[i].musicName %>&singerName=<%= song[i].singerName %>" class="play" title="播放"></a>
        <a href="" class="attent" title="添加"></a>
        <a href="" class="download" title="下载"></a>
        <a href="javascript:;" class="share" title="分享"></a>
        <a href="/comment?musicId=<%= song[i].musicId %>" class="comment" title="评论"></a>
      </span>
      <span class="song_singerName"><%= song[i].singerName %></span>
      <span class="song_ablum"><a href="#" class="singer_link_cdName"><%= song[i].cdName %></a></span>
      <span class="song_time"><%= song[i].time %></span>
    </li>
  <% } %>
</div>
